body {
  font-family:
    "inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

.button-section {
  text-align: center;
  padding: 40px;
  margin: 50px;
  display: flex;
  gap: 8px;
}

.create {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  color: #111827;
  padding: 12px 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.get-started {
  background: linear-gradient(to bottom, #6366f1, #4338ca);
  border: 1px solid transparent;
  color: #ffff;
  padding: 12px 24px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
